<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <bean id="Vehicle" class="org.genspark.Bike">
<!--        <property name="ti" ref="Tire" />  setter injection-->
        <constructor-arg index="0" ref="Tire" />
    </bean>

    <!--Constructor Injection-->
    <bean id="Tire" class="org.genspark.Tire">
        <constructor-arg index="0" value="BIDGESTONE" />
        <constructor-arg index="1" type="int" value="17" />
    </bean>

    <!--setter injection-->
<!--    <bean id="Tire" class="org.genspark.Tire">-->
<!--        <property name="brand" value="MRF" />-->
<!--        <property name="size" value="17" />-->
<!--    </bean>-->

</beans>